
/// the theme's core brand colour
$brand-color:           #fff;

$navigation-highlight:  #e95420;

$button-primary-color:	#ff0;

$header-link-color:     #333;

$navigation-width:      350px;

$link-color:            #333;
