// Table of contents pattern
@mixin p-toc {

  .p-toc {

    @media (min-width: $breakpoint-medium) {
      border-left: 1px solid $color-dark;
      padding-left: 1rem;
    }

    &__header {
      color: $color-mid-grey;
      text-transform: uppercase;
      font-size: .875rem;
      margin-bottom: .5rem;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0 0 1rem;
    }
  }
}
