
@mixin p-sidebar-nav {

  .p-sidebar-nav {

    &__list {
      list-style: none;
      padding-left: 0;

      & & { // only target nested .p-sidebar-nav__list
        padding-left: 1rem;
      }
    }
  }
}
