
@mixin p-sidebar-nav {

  .p-sidebar-nav {

    margin: 0 auto;
    width: 100%;

    &__list {
      list-style: none;
      padding-left: 0;
      width: 100%;

      & & { // only target nested .p-sidebar-nav__list
        padding-left: 1rem;
      }
    }

    &__group {
      border-bottom: 1px dotted $color-dark;
      margin: 1rem -1rem;
      padding: 0 1rem;

      &:first-child {
        border-top: 1px dotted $color-dark;
      }
    }

    &__section {
      height: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform .5s ease;
      position: relative;
      z-index: 999;

      &:target {
        height: auto;
        transform: scaleY(1);
        // Prevent browser head-butting
        // http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-D
        border-top: 100px solid transparent;
        margin-top: -116px;
        background-clip: padding-box;
      }
    }
  }
}
