
@mixin p-footer {

  .theme > .p-footer {
    border-top: 1px solid $color-mid-grey;
    color: $color-mid-grey;
    padding: 1rem;

    @media (min-width: $breakpoint-medium) {
      padding: 1.5rem;
    }
  }
}
