
@mixin p-sidebar-nav {

  .p-sidebar-nav {

    margin: 0 auto;
    width: 100%;

    &__list {
      list-style: none;
      padding-left: 0;
      width: 100%;

      & & { // only target nested .p-sidebar-nav__list
        padding-left: 1rem;
      }
    }

    &__group {
      border-bottom: 1px dotted $color-dark;
      margin: 1rem -1rem;
      padding: 0 1rem;

      &:first-child {
        border-top: 1px dotted $color-dark;
      }
    }

    &__section {
      height: 0;
      position: relative;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform .5s ease;

      &:target {
        background-clip: padding-box;
        border-top: 100px solid transparent; // Prevent browser head-butting [1]
        height: auto;
        margin-top: -116px;
        transform: scaleY(1);
      }
    }

    &__top {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: inline;
      }
    }
  }
}

// [1] // http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-D
