@mixin docs-p-social-list {
  .p-social-list {
    float: right;
    list-style: none;
    margin: 0;

    &__item {
      display: inline-block;
      margin-left: .5rem;
    }

    &__link {
      border-bottom: 0;
    }

    &__image {
      height: 31px;
    }
  }
}
