%p-versions-item {
  display: inline-block;
  margin-right: 1rem;
}

@mixin docs-p-versions {
  .p-versions {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      @extend %p-versions-item;

      &--missing {
        @extend %p-versions-item;
        opacity: .5;
      }
    }
  }
}
