// import Vanilla
@import 'vanilla-framework/scss/patterns_footer';

@mixin docs-p-footer {
  @include vf-p-footer;

  .p-footer {
    border-top: 1px solid $color-mid-light;
    color: $color-mid-dark;
    padding: 1rem;

    @media (min-width: $breakpoint-medium) {
      padding: 1.5rem;
    }
  }
}
