@mixin docs-p-navigation {
  .theme > .p-navigation {
    background: $color-x-light;
    border-bottom: 1px solid $color-mid-dark;
    color: $color-dark;
    padding: .5rem 0;

    .p-navigation__link {
      color: $color-dark;
      margin: 0;

      &:visited {
        color: $color-mid-dark;
      }
    }

    .p-navigation__logo {
      color: $color-dark;
    }
  }
}
