@mixin docs-p-grid {
  .row { // override grid max width for full width pages
    max-width: 100%;
    padding: 0;
    width: 100%;

    & & { // Nested .rows (for code examples) need right/left padding
      padding: $grid-gutter-width;
    }
  }
}
