
@mixin t-layout {

  .row { // override grid max width for full width pages
    max-width: 100%;
    padding: 0;
    width: 100%;

    & & { // Nested .rows (for code examples) need right/left padding
      padding: 0 $grid-gutter-width;
    }
  }

  .theme {

    @media (min-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    &__wrap {
      @media (min-width: $breakpoint-medium) {
        display: flex;
      }
    }

    &__main {
      display: flex;
      flex: 1;
      padding: 0 1rem;

      @media (min-width: $breakpoint-medium) {
        border-left: 1px solid $color-cool-grey;
        margin-left: 0;
        padding: 1rem;
      }
    }

    &__inner {
      max-width: $grid-max-width;
      width: 100%;
    }

    &__aside {
      padding: 0 1rem;
    }

    &__aside,
    &__sidebar {
      flex: 0 0 16em;
    }

    &__versions {
      border-bottom: 1px dotted $color-cool-grey;
      padding: 0 1rem;
    }

    &__outline {
      border: 1px solid $color-cool-grey;
    }

    &__outline--inner {
      border: 1px dotted $color-cool-grey;
      margin: 1rem;
      padding: 1rem;
    }
  }
}
