// scss-lint:disable NestingDepth
////
/// @author       Anthony Dillon
/// @link
/// @since        0.0.1
////

/// Header styling for docs theme. Float left
/// @group Utils
@mixin docs-header {
  .banner {
    border-bottom: 1px solid $color-mid-grey;

    .logo {
      display: inline-block;
      padding: $grid-gutter-width / 2;

      @media only screen and (min-width: $breakpoint-medium) {
        padding: $grid-gutter-width;
      }

      a {
        background: none;
        border: 0;
      }
    }
  }
}
