// scss-lint:disable NestingDepth
////
/// @author       Anthony Dillon
/// @link
/// @since        0.0.1
////

/// Header styling for docs theme. Float left
/// @group Utils
@mixin docs-header {
  .banner {
    position: fixed;
    left: 0;
    top: 0;
    min-width: $navigation-width;
    width: $navigation-width;
    float: left;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid darken($brand-color, 10%);

    .logo {
      width: 100%;
      margin: 0 0 15px;
      padding: 15px;
      border-bottom: 1px solid darken($brand-color, 10%);
    }

    .nav-primary ul {
      width: 100%;

      li {
        float: none;
        display: block;
        overflow: hidden;
        border: 0;

        &:hover {
          .second-level-nav {
            display: block;
          }

          a,
          a:link,
          a:visited {
            background-color: darken($brand-color, 10%);
          }
        }

        a,
        a:link,
        a:visited {
          text-align: left;


          &.active {
            background-color: $brand-color;
            border-left: 3px solid $hero-background;
            font-weight: 500;
          }
        }
      }

      .second-level-nav {
        background-color: darken($brand-color, 10%);
        display: none;
        margin-bottom: 1em;

        a,
        a:link,
        a:visited,
        a:link:hover {
          background-image: none;
        }
      }
    }
  }
}
