@mixin docs-nav {

  // scss-lint:disable NestingDepth
  .documentation {
    background-color: $color-light;
    padding: 0;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
    }

    &__nav {
      $button-width: 10px;
      order: 2;
      // To enabling hiding of the bottom-most border in the navigation
      overflow: hidden;

      @media only screen and (min-width: $breakpoint-medium) {
        border-right: 1px solid $color-mid-grey;
        width: $navigation-width;
        min-width: $navigation-width;
        order: 0;
      }

      h4 {
        margin-top: .2em;
        margin-bottom: .2em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        user-select: none;

        li {
          padding-top: 7px;
          margin: 0;
          position: relative;

          &:after {
            width: $button-width;
            height: 1.875em;
            display: block;
            position: absolute;
            top: $grid-gutter-width / 2;
            right: $grid-gutter-width;
            cursor: pointer;
          }

          a {
            color: $color-cool-grey;
            text-decoration: none;
            border-bottom: 0;

            &:hover,
            &:focus {
              text-decoration: none;
            }

            &:hover,
            &.active {
              color: $navigation-highlight;
            }
          }

          &.collapsed {
            padding-right: $grid-gutter-width + $button-width;

            > ul {
              display: none;
            }

            &:after {
              content: '+';
            }
          }

          &.expanded {

            > ul {
              display: block;
            }

            &:after {
              content: '-';
            }
          }
        }
      }

      .collapsed h4,
      .expanded h4 {
        cursor: pointer;
      }

      > ul {
        // Hide the bottom-most border
        // only if it's pushing right up against the footer
        // so we don't get an ugly double-border effect
        @media only screen and (min-width: $breakpoint-medium) {
          margin-bottom: -1px;
        }

        > li {
          border-bottom: 1px dotted $color-mid-grey;
          padding-top: $grid-gutter-width / 2;
          padding-bottom: $grid-gutter-width / 2;

          > a {
            font-size: 1em;
            text-decoration: none;
          }

          > ul {
            > li {
              padding-left: 0;
              padding-right: 0;
            }
          }

          &:after {
            background-position: center center;
            background-repeat: no-repeat;
          }

          &.collapsed:after {
            content: '';
            background-image: url('#{$assets-path}04d2075a-chevron_down.svg');
          }

          &.expanded:after {
            content: '';
            background-image: url('#{$assets-path}f3f43376-chevron_up.svg');
          }
        }
      }

      // Top level sections get bottom padding.
      .section {
        padding: 0 0 20px;
        // Subsections & collapsed sections get no padding.
        &.collapsed,
        .section {
          padding: 0;
        }
      }
    }

    &__versions {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted $color-mid-grey;
      overflow: hidden;

      li {
        float: left;
        border-left: 1px dotted $color-mid-grey;

        &:first-child {
          border-left: 0;
          padding-left: 0;
        }
      }
    }

    &__jump {
      padding-top: 10px;
      padding-bottom: 10px;

      @media only screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }
  }
  // scss-lint:enable NestingDepth
}
