////
/// @author       Anthony Dillon
/// @link
/// @since        0.1.0
////

/// Notes classes
/// @group Notes
@mixin docs-notes {
  @include docs-default-note;
  @include docs-warning-note;
  @include docs-error-note;
  @include docs-success-note;
}

/// Default note styling
/// @group Notes
/// @example
/// <div class="note">
///   ...
/// </div>
@mixin docs-default-note {
  .note {
    @extend %note-pattern;
    color: $color-cool-grey;
    font-size: 1em;
    background-color: $color-light-grey;
    border: 1px solid $color-mid-grey;
  }
}

/// Warning note styling
/// @group Notes
/// @example
/// <div class="note--warning">
///   ...
/// </div>
@mixin docs-warning-note {
  .note--warning {
    @extend %note-pattern;
    background-color: lighten($color-warning, 40%);
    border: 1px solid $color-warning;
  }
}

/// Error note styling
/// @group Notes
/// @example
/// <div class="note--error">
///   ...
/// </div>
@mixin docs-error-note {
  .note--error {
    @extend %note-pattern;
    background-color: lighten($color-negative, 40%);
    border: 1px solid $color-negative;
  }
}

/// Success note styling
/// @group Notes
/// @example
/// <div class="note--success">
///   ...
/// </div>
@mixin docs-success-note {
  .note--success {
    @extend %note-pattern;
    background-color: lighten($color-positive, 40%);
    border: 1px solid $color-positive;
  }
}

%note-pattern {
  font-size: 1em;
  padding: 20px;
  border-radius: 2px;
  color: inherit;
}
