////
/// @author       Anthony Dillon
/// @link
/// @since        0.0.1
////

/// Row hero styles for making the top of a page
/// @group Utils
@mixin docs-row-hero {
  .row-hero {
    transition: all .3s;
    position: fixed;
    width: 100%;
    top: 0;
    left: $navigation-width;
    border: 0;
    background-color: $hero-background;
    // scss-lint:disable UrlFormat
    background-image: url('https://assets.ubuntu.com/v1/63c08d11-suru-background.png');
    // scss-lint:enable UrlFormat
    background-size: cover;
    background-position: center;
    color: $white;
    z-index: 1;
    padding-left: 150px;
    margin-top: 0;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
  }

  @media only screen and (max-width: $breakpoint-medium) {
    .row-hero {
      padding-top: 13px;
      padding-bottom: 5px;

      h1 {
        font-size: 34px;
      }
    }
  }

  .js-shink {
    .wrapper .inner-wrapper {
      padding-top: 50px;
    }

    .row-hero {
      padding-top: 13px;
      padding-bottom: 5px;

      h1 {
        font-size: 34px;
      }
    }
  }
}
