////
/// @author       Anthony Dillon
/// @link
/// @since        0.1.0
////

/// Table of contents styling
/// @group Navigation
@mixin docs-toc {
  .toc {
    position: sticky;
    width: $navigation-width;
    border-left: 1px solid lighten($mobile-nav, 60%);
    padding-left: 40px;
    margin-top: 100px;

    &__heading {
      text-transform: uppercase;
      font-size: .875em;
      font-weight: 300;
      margin-bottom: 1em;
    }

    &__list,
    ol {
      margin-left: 0;
    }
  }
}
