////
/// @author       Anthony Dillon
/// @link
/// @since        0.1.0
////

/// Table of contents styling
/// @group Navigation
@mixin docs-toc {
  .toc {
    order: 0;
    padding-left: $grid-gutter-width / 2;

    @media only screen and (min-width: $breakpoint-medium) {
      order: 2;
      position: sticky;
      width: $navigation-width;
      border-left: 1px solid $color-mid-grey;
      margin-top: 60px;
      padding-left: $grid-gutter-width;
    }

    &__heading {
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 1em;
    }

    &__list,
    ol {
      padding-left: 0;
      margin-left: 0;
    }
  }
}
