////
/// @author       Anthony Dillon
/// @link
/// @since        0.0.1
////

/// Page layout styles
/// @group Layout
@mixin docs-wrapper {
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    .inner-wrapper {
      flex: auto;
    }

    .nav-primary {
      flex: auto;
      width: $navigation-width;
    }
  }
  // scss-lint:disable QualifyingElement
  footer.wrapper .inner-wrapper {
    padding-top: 0;
  }
  // scss-lint:enable QualifyingElement

  @media only screen and (max-width: $breakpoint-medium) {
    .wrapper .inner-wrapper {
      padding-top: 70px;
    }
  }
}
